<!-- <canvas #chart width="100%"></canvas> -->
<!-- <canvas #chart height="140" ></canvas> -->

<div class="row">
    <div class="col-lg-10">
        <div class="flot-chart m-b-md">
            <div flotChart class="flot-chart-content" [options]="flotOptions" [dataset]="flotDataset"></div>
        </div>
    </div>
    <div class="col-lg-2">

        <ul #legendsToggle class="list-group clear-list m-t-0">
            <li class="list-group-item" *ngFor="let item of legends; let i=index">
                <span class="label pull-right" [style.background-color]="item.color">&nbsp;</span>
                <label class="">
                    <!-- <input type="checkbox" checked="item.show" data-index="i" (change)="legendsToggle($event)"/>  -->
                    {{item.name}} 
                </label>
            </li>
        </ul>
    </div>
</div>