<!-- <div class="m-b-xl" style="overflow-x:scroll;"> -->
    <table id="example" class="table table-sm " style="width:100%">
        <thead>
            <tr>
                <th>Day</th>
                <th *ngFor="let item of thead">{{item}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tr of data" [ngStyle]="{'background-color': tr.type == 'sum' && '#f3f3f4'}">
                <td>{{tr.teamName}}</td>
                <td *ngFor="let td of tr.unit; let i=index;">
                    <a *ngIf="tr.type == 'product'; else elseBlock" 
                    [routerLink]="['/sale-condinate/detail-daily']" 
                    [queryParams]="{ groupCode: groupReportCode, teamName: tr.teamName, date: tr.date[i]}">
                        {{td}}
                    </a>
                    <ng-template #elseBlock>{{td}}</ng-template>
                </td>
            </tr>
        </tbody>
    </table>
<!-- </div> -->