<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>FRP Loyalty (BKK + UPC)</h2>
        <ol class="breadcrumb">
            <li>
                <a>Marketing</a>
            </li>
            <li class="active">
                <strong>Sale promotion</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" style="width:100%">

    <div class="row">
        <div class="col-lg-5">
            <h1 class="m-t-none">Find
                <small>by sale order date.</small>
            </h1>

            <form class="form-horizontal" #from="ngForm" (ngSubmit)="onSearchByCon(from.value)" [formGroup]="Form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Date From :</label>
                    <div class="col-lg-6">
                        <input type="date" name="sDate" formControlName="sDate" ngModel class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Date to :</label>

                    <div class="col-lg-6">
                        <input type="date" name="eDate" formControlName="eDate" ngModel class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-3">
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fa fa-search"></i> Find
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-7">
            <div class="row text-right">
                <div class="col-xs-4 pull-right">
                    <h4 class="m-b-xs">Total Price</h4>
                    <h2 class="no-margins text-navy">{{totalPrice | number:'0.2-2'}}</h2>
                    <div class="font-bold">Bath</div>
                </div>
                <div class="col-xs-4 pull-right">
                    <h4 class="m-b-xs">Total Length</h4>
                    <h2 class="no-margins text-navy">{{totalLength | number:'0.2-2'}}</h2>
                    <div class="font-bold">Meter</div>
                </div>
            </div>
        </div>

    </div>
    <hr class="hr-dashed">

    <table id="frp" class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Customer code</th>
                <th>Customer name</th>
                <th>Sum length</th>
                <th>Total price</th>
                <th>Sale name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of frpLoyaltyModel; let i=index;">
                <td>{{i+1 | number}}</td>
                <td>{{item.custCode}}</td>
                <td>{{item.custName}}</td>
                <td>{{item.goodQty2 | number: '0.2-2'}}</td>
                <td>{{item.goodAmnt | number: '0.2-2'}}</td>
                <td>{{item.empName}}</td>
            </tr>
        </tbody>
    </table>


</div>