<div style="background-image: url('assest/')"></div>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">
                <img src="assets/images/logo.png" alt="ampelite-logo" srcset="">
            </h1>
        </div>
        <h3>Welcome to Ampelite</h3>
        <p>The First Fibreglass Translucent Sheeting Manufacturer in Asia Certified to AS 2456.3:2006</p>
        <form autocomplete="off" class="m-t" [formGroup]="Form">
            <div class="form-group">
                <input formControlName="userName" type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input formControlName="passWord" type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" (click)="onSubmit()">Login</button>

            <!-- <a href="#">
                <small>Forgot password?</small>
            </a>
            <p class="text-muted text-center">
                <small>Do not have an account?</small>
            </p> -->
        </form>
    </div>

</div>