

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Purchase order daily</h2>
        <ol class="breadcrumb">
            <li>
                <a>Sale coordinate</a>
            </li>
            <li class="active">
                <strong>Purchase order daily</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-t-xs">
        <div class="col-sm-6 m-b-sm">
            <h2 class="m-t-sm">Group {{unitTitle}}</h2>
            <div class="">
                <strong>Selected date:</strong> {{selectedDate}}
            </div>
        </div>
        <div class="col-sm-6 m-b-sm">
            <div class="row text-right">
                <div class="col-xs-3 pull-right" *ngFor="let item of products">
                    <h5 class="m-b-xs">{{item.name}}</h5>
                    <h2 class="no-margins">{{item.totalUnit | number}}</h2>
                </div>

            </div>
            <br>
            <div class="row text-right">
                <div class="col-xs-3 pull-right">
                    <span>Accu</span>
                    <h4>
                        <small class="stats-label">Max</small> {{accu | number}}</h4>
                </div>
                <div class="col-xs-3 pull-right">
                    <span>Avg</span>
                    <h4>{{avg | number}}</h4>
                </div>

            </div>
            <!-- <hr class="m-t-xs m-b-xs"> -->
        </div>
    </div>

    <app-chart #chart></app-chart>

    <div class="row m-b-lg">
        <div class="col-lg-12">
            <div class="ibox-content" style="padding: unset;">
                <div class="table-responsive">
                    <app-table></app-table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="" class="open-config">
    <a class="open-small-chat" data-toggle="modal" data-target="#modalConfig">
        <i class="fas fa-cog fa-lg fa-spin"></i>
    </a>
</div>
<div class="modal inmodal" id="modalConfig" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content animated fadeIn">
            <app-modal-config></app-modal-config>
        </div>
    </div>
</div>