<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{teamName}}</h2>
    <ol class="breadcrumb">
      <li>
        <a>Sale coordinator</a>
      </li>
      <li>
        <a>Purchase order daily</a>
      </li>
      <li class="active">
        <strong>Detail daily</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-sm-6">
      <div class="row m-t-xs m-b-sm">
        <div class="col-sm-4 col-xs-6">
          <h4 class="m-b-xs">SO. Date</h4>
          <h3 class="no-margins">{{soDate}}</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row m-t-xs m-b-sm text-right">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 col-xs-6">
          <h4 class="m-b-xs">Total Qty</h4>
          <h2 class="no-margins">{{totalQty | number}}</h2>
        </div>
        <div class="col-sm-4 col-xs-6">
          <h4 class="m-b-xs">Total price</h4>
          <h2 class="no-margins">{{totalAmount | number}}</h2>
        </div>
      </div>
    </div>
  </div>

  <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
    <thead>
      <tr>
        <th data-toggle="true">No.</th>
        <!-- <th data-hide="phone">SO. Date</th> -->
        <th>SO.</th>
        <th data-hide="phone">Product</th>
        <th data-hide="all">CustPONo</th>
        <th data-hide="all">Customer</th>
        <th data-hide="all">Job Name</th>
        <th data-hide="all">Sale Name</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rows; let i=index">
        <td>{{i + 1}}</td>
        <!-- <td>{{item.docuDate}}</td> -->
        <td>{{item.docuNo}}</td>
        <td>{{item.goodName}}</td>
        <td>{{item.custPONo}}</td>
        <td>{{item.custName}}</td>
        <td>{{item.jobName}}</td>
        <td>{{item.empName}}</td>
        <td>{{item.goodQty | number}}</td>
        <td>{{item.goodPrice2 | number}}</td>
        <td>{{item.goodAmnt | number}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">
          <ul class="pagination pull-right"></ul>
        </td>
      </tr>
    </tfoot>
  </table>

</div>


<div id="" class="open-config">
  <a class="open-small-chat" data-toggle="modal" data-target="#modelExpor">
    <i class="fas fa-cog fa-lg fa-spin"></i>
  </a>
</div>

<div class="modal inmodal" id="modelExpor" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content animated fadeIn">
      <app-model-export></app-model-export>
    </div>
  </div>
</div>