<nav class="navbar-default navbar-static-side" style="" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" dropdown>
                    <img alt="image" class="" src="assets/images/logo.png" style="width:100%">
                    <a dropdownToggle>
                        <span class="block m-t-xs">
                            <strong class="font-bold">Administrator</strong>
                        </span>
                        <span class="text-muted text-xs block">Position
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
                        <li>
                            <a href="#">Profile</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('home')}">
                <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="home">Home</a>
            </li>
<!-- 
            <li *ngFor="let key of sectionKeys" [routerLink]="" [ngClass]="{active: activeRoute(sections[key].id)}">
                <a href="">
                    <i [ngClass]="sections[key].icon"></i>
                    <span class="nav-label">{{key}}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li [ngClass]="{active: activeRoute('po-daily')}">
                        <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/sale-condinate/po-daily">
                            Purchase order daily
                        </a>
                    </li>
                </ul>
            </li> -->


            
            <li [ngClass]="{active: activeRoute('sale-condinate')}">
                <a href="#">
                    <i class="fa fa-phone-volume fa-lg"></i>
                    <span class="nav-label">SALE COORDINATE</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li [ngClass]="{active: activeRoute('po-daily')}">
                        <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/sale-condinate/po-daily">
                            Purchase order daily
                        </a>
                    </li>
                </ul>
            </li>
            <li [ngClass]="{active: activeRoute('marketing')}">
                <a href="#">
                    <i class="fa fa-lightbulb fa-lg"></i>
                    <span class="nav-label">MARKETING</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/marketing/sale-promotion">
                            Sale promotion
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>