<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <i class="fa fa-gears modal-icon"></i>
    <h3>CONFIGURATION</h3>
</div>
<div class="modal-body">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label>Chooe a date</label>
            <input type="date" [(ngModel)]="model.date" name="date" #date="ngModel" class="form-control">
        </div>
        <div class="form-group">
            <label>Chooe a group</label>
            <select name="" id="" class="form-control" [(ngModel)]="model.groupReportCode" name="groupReportCode" #groupReportCode="ngModel"
                (change)="onChangeGroupReport($event)">
                <option *ngFor="let group of groupReport" [value]="group.groupCode">
                    {{ group.groupName }}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Chooe a unit</label>
            <select name="" id="" class="form-control" [(ngModel)]="model.groupUnitCode" name="groupUnitCode" #groupUnitCode="ngModel"
                (change)="onChangeGroupUnit($event)">
                <option *ngFor="let unit of groupUnit" [value]="unit.unitCode">
                    {{unit.unitTitle}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Chooe a week</label>
            <select name="" id="" class="form-control" [(ngModel)]="model.week" name="week" #week="ngModel">
                <option value="7">One week</option>
                <option value="14">Two weeks</option>
                <option value="21">Three weeks</option>
                <option value="31">Four weeks</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-right m-t-n-xs" type="button" (click)="setNewCurrentData()" data-dismiss="modal">
        <strong>Ok</strong>
    </button>
</div>