<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <i class="fa fa-file-text modal-icon"></i>
  <!-- <h3>CONFIGURATION</h3> -->
</div>
<div class="modal-body" style="padding: 20px 0px 20px 20px;">
  <form role="form" class="form-horizontal">
    <!-- <div class="row">
      <div class="col-sm-12"> -->
    <div *ngIf="groupCode == 'screw' || groupCode == 'fibre'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div>
        <label>
          <input type="radio" [(ngModel)]="model.radioReport" name="radioReport" value="by-customers-order"> ยอดสั่งซื้อ {{teamName}} ของลูกค้า </label>
      </div>
      <div>
        <label>
          <input type="radio" [(ngModel)]="model.radioReport" name="radioReport" value="all-products"> ยอดขาย {{teamName}} ทั้งหมดต่อวัน</label>
      </div>
      <div>
        <label>
          <input type="radio" [(ngModel)]="model.radioReport" name="radioReport" value="product"> ยอดขาย {{teamName}} </label>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div>
        <label>
          <input type="radio" [(ngModel)]="model.radioReport" name="radioReport" value="product"> ยอดขาย {{teamName}} </label>
      </div>
    </ng-template>
    <!-- </div>
    </div> -->
  </form>
</div>
<div class="modal-footer">
  <div class="row">

    <div class="col-xs-6">
      <button class="btn btn-w-m btn-danger pull-right m-t-n-xs" type="button" data-dismiss="modal" (click)="export('pdf')">
        <i class="fa fa-file-pdf"></i> Pdf
      </button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-w-m btn-primary pull-right m-t-n-xs" type="button" data-dismiss="modal" (click)="export('excel')">
        <i class="fa fa-file-excel"></i> Excel
      </button>
    </div>
  </div>
</div>