<div class="row border-bottom">
   <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
         <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()">
            <i class="fa fa-bars"></i>
         </a>
         <!-- <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
          <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
        </div>
      </form> -->
      </div>
      <ul class="nav navbar-top-links navbar-right">
         <li>
            <a href="http://203.154.45.40/Ampelite.o/Login.aspx">
               Ampelite.o
            </a>
         </li>
         <li>
            <a (click)="signOut()">
               <i class="fa fa-sign-out"></i> Log out
            </a>
         </li>
      </ul>

   </nav>
</div>